[Unit]
Description=Framebuffer VNC Server for 3.5" TFT Display

[Service]
Type=simple
PIDFile=/var/run/fbvnc.pid
ExecStart=/home/pi/framebuffer-vncserver/build/framebuffer-vncserver -f /dev/fb1 -p 5901 -t /dev/input/touchscreen

[Install]
WantedBy=multi-user.target
